@import "../../styles/main.module";

.wrapper {
  cursor: pointer;
  position: relative;

  .content {
    position: absolute;
    left: 2px;
    top: 2px;
    background-color: var(--white);
    border-radius: 50%;
    box-shadow: 0 2px 4px 0 var(--black-15);
    transition: transform 100ms ease-out, $theme-change-transition;
  }

  &.on {
    background-color: var(--green-400);

    &:hover {
      background-color: var(--green-500);
    }
  }

  &.off {
    background-color: var(--grey-300);

    &:hover {
      background-color: var(--grey-500);
    }
  }
}
