@import "../../../../styles/main.module";

.ColorFamily {
  width: 100%;

  &:not(:first-child) {
    margin-top: 20px;
  }

  h2 {
    margin-top: 0.6em;
  }

  .SwatchWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
