@import "../../../../styles/main.module";

.ThemeToggleWrapper {
  display: flex;
  flex-direction: row;
  align-items: center;

  .ToggleButton {
    margin-left: 8px;
  }
}

.ColorFamily {
  width: 100%;

  &:not(:first-child) {
    margin-top: 20px;
  }

  h2 {
    margin-top: 0.6em;
  }

  .SwatchWrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
}
