$site-min-width-desk: 1200px;
$site-min-height-desk: 800px;

$menu-panel-width: 230px;

$color-swatch-padding: 4px;
$color-swatch-width: 64px;
$color-swatch-height: 64px;
$color-swatch-label-height: 38px;
$color-swatch-label-width: 120px;

$border-transition: border-color .15s ease-in-out;
$background-transition-slow: background-color .2s ease-in-out;
